@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    code{
        @apply p-px;
    }
    .bg-logo{
        background-color: #2C3E50;
    }
}
/*
  Blur and dim the lines that don't have the `.line-focus` class,
  but are within a code block that contains any focus lines.
*/
.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}

/*
  When the code block is hovered, bring all the lines into focus.
*/
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}
:root,
[data-theme] {
    background-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
    color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}